# Ignore everything in the .config directory
*

# But don't ignore directories themselves (important for "re-includes" to work)
!*/

# Operating System
!waybar/**
!hypr/**
!dunst/**

# Applications
!wofi/**
!zed/**
!ghostty/**
!yazi/**
!.gitignore
